*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Clase01/JavaApplication9/nbproject/private/
/Clase01/AprendiendoJDBC/nbproject/private/
/Clase01/AprendiendoJDBC/build/
/Clase02/EurekaApp/nbproject/private/
/Clase02/EurekaApp/build/